@model Lanche

<div class="col-sm-4 col-lg-4 col-md-4">
    <img src="@Model.ImagemUrl" class="card-img-top imageResponsive" alt="@Model.Nome" />
    <div class="figure-caption">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="formPullRightButton">@Model.Preco.ToString("c")</h4>
                </div>
                <div class="col-md-auto">
                    <h4>
                        <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
                    </h4>
                </div>
            </div>
        </div>
        <h6>@Model.DescricaoCurta</h6>
    </div>
    <div class="addToCar text-right">
        <p class="button">
            <a class="btn btn-primary" id="carButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemCarrinho" asp-route-lancheId="@Model.LancheId">
                Incluir no Carrinho
            </a>
        </p>
    </div>
</div>