@model CarrinhoCompraViewModel

<div class="row checkoutForm">

    <img src="~/images/Full-Cart-icon.png" />
    <div>
        <h4> Seu carrinho de compras : </h4>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItem)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Lanche.Nome</td>
                    <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a asp-controller="CarrinhoCompra" asp-action="RemoverItemCarrinho" asp-route-lancheId="@item.Lanche.LancheId"><img src="~/images/delete.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="dropdown ml-auto">
        <div class="form-group">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            <a class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
                Adicionar mais lanches<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="nav-link text-dark" asp-controller="Lanche" asp-action="List" asp-route-categoria="Normal">Normal</a></li>
                <li><a class="nav-link text-dark" asp-controller="Lanche" asp-action="List" asp-route-categoria="Natural">Natural</a></li>
                <li><a class="nav-link text-dark" asp-controller="Lanche" asp-action="List">Todos os Lanches</a></li>
            </ul>
        </div>
    </div>
</div>